.each-option h5 {
  text-transform: none;
}
#contact {
  display: grid;
  place-items: center;
  height: fit-content;
}
#contact h2 {
  color: var(--clr-primary-5);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: var(--spacing);
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.container.contact__container {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.upper {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2%;
  margin-bottom: 2rem;
}

.contact-img {
  height: 100%;
  border-radius: 2rem;
}

.contact__options {
  display: flex;
  gap: 1.2rem;
  /* justify-content: space-betwween; */
  justify-content: center;
}
.each-option {
  background: var(--clr-primary-2);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.each-option:hover {
  background: transparent;
  border: 2px solid black;
}

.icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

form {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  background: transparent;
  resize: none;
  border-radius: 1.2rem;
  border: 2px solid black;
  padding: 1.5rem;
  color: white;
}

/* =====MEDIA QUERRIES(MEDIUM)====== */

@media screen and (max-width: 1024px) {
  .container.contact__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
/* =====MEDIA QUERRIES(SMALL)====== */

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .contact-img {
    position: absolute;
    z-index: -999;
    opacity: 0.1;
    width: 100vw;
  }
  .upper {
    grid-template-columns: 1fr;
  }
  .contact__options {
    flex-direction: column;
  }
}
