@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

header {
  font-family: "Rubik", sans-serif;
  color: var(--clr-black);
  line-height: 1.7;
  height: fit-content;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  margin-top: 4rem;
  text-transform: capitalize;
}
.heading h1 {
  width: 70vw;
  font-weight: 600;
  font-size: 3.8rem;
  text-align: center;
  line-height: 4rem;
}
.heading-content {
  height: 80vh;
}
.main-heading-container {
  display: grid;
  place-content: center;
  text-transform: capitalize;
  grid-template-columns: 15% 70% 19%;
  width: 80vw;
  margin: 0 auto;
}
.descriptions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.descriptions h2 {
  font-weight: 600;
}
.descriptions p {
  padding-top: 0.3rem;
  line-height: 1.2;
  font-size: 0.8rem;
  width: 80%;
}
.photos-here {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 2rem;
}
.sec-1 {
  border-right: 2px solid var(--clr-black);
  height: inherit;
}
.sec-2 {
  border-right: 2px solid var(--clr-black);
  height: inherit;
}
.sec-3 {
  border-right: 2px solid var(--clr-black);
  height: inherit;
}
.img-contain-1 {
  margin-top: 8rem;
}
.img-contain-2 {
  margin-top: 0.3rem;
}
.img-contain-3 {
  margin-top: 3rem;
}
.img-contain-4 {
  margin-top: 8.5rem;
}
.connect {
  margin-top: 1.7rem;
}
.connect img {
  height: 5%;
  width: auto;
  object-fit: cover;
  margin-top: 0;
}
.connect p {
  margin-left: 0;
  font-weight: 600;
}
.brand-identity {
  display: grid;
  height: 80vh;
}
.brand-text {
  padding: 1rem;
  line-height: 1.2;
  font-size: 0.8rem;
  z-index: 999;
  position: relative;
  margin-left: 0.9rem;
}
.brand-text h4 {
  font-family: monospace;
  font-weight: 600;
  color: rgb(150, 93, 93);
  margin-top: 1rem;
}
.brand-text h3 {
  font-weight: 600;
  margin-top: 1rem;
}
.brand-background {
  height: 25%;
  width: 3.8rem;
  background: pink;
  z-index: -999;
  position: absolute;
}
.brand-underline {
  height: 2px;
  width: 1.95rem;
  margin-top: 1rem;
  background: var(--clr-black);
}
.brand-img {
  height: 3rem;
  width: auto;
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .heading h1 {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
  .heading-content {
    height: 40vh;
  }
  .brand-identity {
    height: 50vh;
  }
  .brand-background {
    height: 20%;
  }
  .photos-here {
    height: 30vh;
    margin-top: 5rem;
  }
}
/* =====MEDIA QUERRIES(SMALL)====== */

@media screen and (max-width: 620px) {
  .heading {
    margin-top: 4rem;
  }
  .heading h1 {
    width: 90vw;
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .heading-content {
    height: fit-content;
  }
  .descriptions {
    display: none;
  }
  .photos-here {
    height: 30vh;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .main-heading-container {
    display: flex;
    flex-direction: column;
  }
  .img-contain-1 {
    margin-top: 6rem;
  }
  .img-contain-2 {
    margin-top: 0.4rem;
  }
  .img-contain-3 {
    margin-top: 3rem;
  }
  .img-contain-4 {
    margin-top: 8rem;
  }
  .brand-identity {
    height: fit-content;
    margin-top: 0.7rem;
    margin-bottom: 0;
  }
  .brand-img {
    display: none;
  }
}
