.photos-section {
  width: 90vw;
  margin: 0 auto;
  justify-items: center;
  margin-top: 15rem;
  display: grid;
  align-items: center;
}
.photos-section h2 {
  color: var(--clr-primary-5);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: var(--spacing);
  display: flex;
  justify-content: center;
}

.photo {
  object-fit: cover;
  /* height: 400px; */
  /* width: 100vw; */
  border: 0.25rem solid var(--clr-grey-2);
  border-radius: var(--radius);
  display: block;
}

@media screen and (max-width: 720px) {
  .section-center {
    width: 95vw;
  }
}
