#works {
  margin-top: 1rem;
}
.photos-section {
  width: 90vw !important;
  margin: 0 auto;
  justify-items: center;
  margin-top: 10rem;
  display: grid;
  align-items: center;
  height: fit-content;
}
.photos-section h2 {
  margin-bottom: 0;
  color: var(--clr-primary-5);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: var(--spacing);
  display: flex;
  justify-content: center;
}

.galleryWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 87vw;
  margin: 0 auto;
}
.galleryWrap .single {
  width: 25rem;
  cursor: pointer;
}
.galleryWrap img {
  border: 0.25rem solid var(--clr-grey-2);
  max-width: 100%;
  height: 25rem;
  transition: var(--transition);
  border-radius: var(--radius);
}
.galleryWrap img:hover {
  transform: scale(1.02);
}
@media screen and (max-width: 1024px) {
  .section-center {
    width: 95vw;
  }
  .galleryWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
  }
}
@media screen and (max-width: 620px) {
  .galleryWrap .single {
    width: 100%;
    margin: 0 auto;
  }
  .galleryWrap {
    display: grid;
    grid-template-columns: 1fr;
  }
}
