.photos-section {
  width: 90vw;
  margin: 0 auto;
  justify-items: center;
  margin-top: 15rem;
  display: grid;
  align-items: center;
}
.photos-section h2 {
  color: var(--clr-primary-5);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: var(--spacing);
  display: flex;
  justify-content: center;
}

.photo {
  object-fit: cover;
  border: 0.25rem solid var(--clr-grey-2);
  border-radius: var(--radius);
  display: block;
}

@media screen and (max-width: 720px) {
  .section-center {
    width: 95vw;
  }
}

/* .new_masonry {
  width: 90vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  grid-auto-rows: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

img {
  height: 100%;
} */
