footer {
  background: var(--clr-primary-5);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
  display: grid;
}

.footer__logo {
  margin-bottom: 2rem;
  display: inline-block;
}
.foot-logo {
  /* height: 4rem;
  width: auto; */
  background-size: 30px 40px;
  height: 15rem;
  width: 10rem;
  margin: 0 auto;
}
.permalinks {
  flex-wrap: wrap;
  margin: 0 auto 2rem;
  /* display: inline-block; */
  display: flex;
  text-transform: capitalize;
  gap: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  display: flex;
}
.permalinks a {
  color: var(--clr-black);
  font-weight: 400;
  transition: var(--transition);
}
.permalinks a:hover {
  color: var(--clr-white);
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.footer__socials a {
  background: black;
  color: white;
  border-radius: 1.2rem;
  padding: 0.8rem;
  border: 1px solid transparent;
  font-size: 1.5rem;
}
.footer__socials a:hover {
  background: transparent;
  color: black;
  border: 1px solid black;
}

small {
  font-size: 1rem;
  color: black;
  margin-bottom: 4rem;
  text-transform: capitalize;
}
/* =====MEDIA QUERRIES(SMALL)====== */

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials {
    margin-bottom: 1.5rem;
  }
}
